<!-- your html code here -->
<div class="container">
    <div class="row p-3 mb-4 bg-body text-dark my-3">
        <div class="col">
            <h1> This First Heading <span class="text-secondary">Will Catch Your Eye</span></h1>
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, fugiat doloremque corrupti quasi itaque adipisci exercitationem vero dolorem voluptatibus alias eligendi explicabo placeat consequatur nobis ea vel laboriosam, doloribus non? </p>
        </div>
        <div class="col">
            <img src="https://i.etsystatic.com/16519170/c/472/377/115/83/il/b15cb9/2421723124/il_340x340.2421723124_at7m.jpg" class="rounded-circle border border-4" alt="">
        </div>
    </div>
</div>
