<!-- your html code here -->
<h1>Portfolio</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt voluptatem natus consequatur, neque expedita distinctio ullam? 
    Eveniet placeat illo voluptas sint repudiandae eius nobis repellat optio neque cupiditate! Et, debitis.</p>

<form>
    <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-2 col-form-label">Your Email</label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="inputEmail3">
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Your Message</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="inputPassword3">
        </div>
      </div>
</form>